@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(250deg, 100%, 8%);
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header img {
  height: 100%;
  filter: drop-shadow(0 0 10px hsla(0deg, 100%, 90%, 0.5));
  cursor: pointer;
}
header div {
  color: hsl(206deg, 59%, 92%);
  font-family: "Bangers", cursive;
  font-size: 28px;
}

video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: hsla(0deg, 0%, 5%, 0.7);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

main {
  color: hsl(206deg, 59%, 92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding: 0 20%;
  gap: 25px;
}
main h1 {
  font-family: "Bangers", cursive;
  letter-spacing: 1.5px;
  font-size: 52px;
  text-align: center;
}
main p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
}
main .btn-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 10px;
}
main .btn-wrapper a {
  background: hsl(199deg, 100%, 25%);
  color: hsl(206deg, 59%, 92%);
  font-family: "Bangers", cursive;
  font-size: 24px;
  border: none;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  -webkit-clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
          clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
main .btn-wrapper a:hover {
  -webkit-clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
          clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
}

#whenSignedOut {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100000px;
  overflow: hidden;
  background: hsl(93deg, 100%, 40%);
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
#whenSignedOut button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
}

#whenSignedOut:hover {
  background: hsl(93deg, 100%, 30%);
}

#whenSignedIn {
  position: absolute;
  bottom: 25px;
  left: 25px;
  padding: 0 15px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 100000px;
  overflow: hidden;
  background: hsl(6deg, 100%, 40%);
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
#whenSignedIn button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
}

#whenSignedIn:hover {
  background: hsl(6deg, 100%, 30%);
}

ul.scores {
  list-style: none;
}
ul.scores li {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  text-transform: capitalize;
  font-size: 18px;
}
ul.scores li span:first-child::after {
  content: "|";
  margin-left: 15px;
}/*# sourceMappingURL=style.css.map */